//$font-title: 36px / 1 'sfuidisplay', sans-serif;
//$font-title-bold: bold 36px / 1 'sfuidisplay', sans-serif;

$font-arvo: 'arvo', sans-serif;
$font-montserrat: 'montserrat', sans-serif;
$font-openSans: 'open-sans', sans-serif;

