$clock-icon-white: 0px 38px 0px -38px 14px 14px 100px 52px '../images/sprites/sprite.png';
$clock-icon: 39px 38px -39px -38px 14px 14px 100px 52px '../images/sprites/sprite.png';
$eye-icon-white: 0px 0px 0px 0px 18px 13px 100px 52px '../images/sprites/sprite.png';
$eye-icon: 43px 0px -43px 0px 18px 13px 100px 52px '../images/sprites/sprite.png';
$search-icon: 86px 0px -86px 0px 14px 14px 100px 52px '../images/sprites/sprite.png';

@mixin sprite-position($sprite) {
$sprite-offset-x: nth($sprite, 3);
$sprite-offset-y: nth($sprite, 4);
background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
$sprite-image: nth($sprite, 9);
background-image: url($sprite-image);
}

@mixin sprite-mixin-template($sprite) {
@include sprite-image($sprite);
@include sprite-position($sprite);
width: nth($sprite, 5);
height: nth($sprite, 6);
}

@mixin bg($sprite, $repeat: no-repeat) {
@include sprite-mixin-template($sprite);
$sprite-total-width: nth($sprite, 7);
$sprite-total-height: nth($sprite, 8);
background-size: $sprite-total-width, $sprite-total-height;
background-repeat: $repeat;



}
