extends ../../layouts/layout-main/layout-main
include ../../components/card/card-mixin
block content
    -
        var cardOne = [
        {
        src: "./images/content/protone-img.jpg",
        title: "The number of protons",
        desc: "Apple Inc has decided to launch the much awaited Apple Watch in the upcoming month of April and has already received around five to six million orders for the product. Analysts have expected this product of the company to bring a positive change in the future revenue generation of the company. In the year 2014, when it became apparent that Apple (NASDAQ: AAPL) is in the midst of creating a smartwatch and will launch it in start of 2015, quite a few companies decided to create watches on their own to compete with the tech giant in the smart watch industry. Among the many companies who launched their customized versions of smart watches, Samsung Ltd (SSNLF) was the one of the prominent companies who was successful in producing a variety of smart watches within a very short period of time. Sony, Google and LG were other big companies who were also seen to have launched smart-watches taking advantage of the increasing interest of the consumers. According to a report released by Bidness ETC, Apple is expected to take full control of the smartwatch market on the release of its watch, in the same way that the company has excelled in the smartphone and laptop industry. According to the company’s history, the classic iPhone makers have never created the product that was not already in the market but it sure has introduced revolutionized and ingenious technology to every industry that it has stepped into. Taking the company’s iPod into consideration, it completely changed the perspective of the consumers on how a media player should be and raised expectations to a new level. The company was not the first one to introduce a media player but when it did, it made sure that it created a hype in the industry by coming up with technology that had never been used previously.",
        date: "1 june 2015",
        count: "343"
        }
        ];
        var cardTwo = [
        {
        src: "./images/content/stadium-img.jpg",
        title: "Sport Stadium Birdview ",
        desc: "Apple Inc has decided to launch the much awaited Apple Watch in the upcoming month of April and has already received around five to six million orders for the product. Analysts have expected this product of the company to bring a positive change in the future revenue generation of the company. In the year 2014, when it became apparent that Apple (NASDAQ: AAPL) is in the midst of creating a smartwatch and will launch it in start of 2015, quite a few companies decided to create watches on their own to compete with the tech giant in the smart watch industry. Among the many companies who launched their customized versions of smart watches, Samsung Ltd (SSNLF) was the one of the prominent companies who was successful in producing a variety of smart watches within a very short period of time. Sony, Google and LG were other big companies who were also seen to have launched smart-watches taking advantage of the increasing interest of the consumers. According to a report released by Bidness ETC, Apple is expected to take full control of the smartwatch market on the release of its watch, in the same way that the company has excelled in the smartphone and laptop industry. According to the company’s history, the classic iPhone makers have never created the product that was not already in the market but it sure has introduced revolutionized and ingenious technology to every industry that it has stepped into. Taking the company’s iPod into consideration, it completely changed the perspective of the consumers on how a media player should be and raised expectations to a new level. The company was not the first one to introduce a media player but when it did, it made sure that it created a hype in the industry by coming up with technology that had never been used previously.",
        date: "1 june 2015",
        count: "343"
        }
        ];
        var cardBlack = [
        {
        src: "./images/content/winter-img.jpg",
        title: "The number of protons",
        desc: "Apple Inc has decided to launch the much awaited Apple Watch in the upcoming month of April and has already received around five to six million orders for the product. Analysts have expected this product of the company to bring a positive change in the future revenue generation of the company. In the year 2014, when it became apparent that Apple (NASDAQ: AAPL) is in the midst of creating a smartwatch and will launch it in start of 2015, quite a few companies decided to create watches on their own to compete with the tech giant in the smart watch industry. Among the many companies who launched their customized versions of smart watches, Samsung Ltd (SSNLF) was the one of the prominent companies who was successful in producing a variety of smart watches within a very short period of time. Sony, Google and LG were other big companies who were also seen to have launched smart-watches taking advantage of the increasing interest of the consumers. According to a report released by Bidness ETC, Apple is expected to take full control of the smartwatch market on the release of its watch, in the same way that the company has excelled in the smartphone and laptop industry. According to the company’s history, the classic iPhone makers have never created the product that was not already in the market but it sure has introduced revolutionized and ingenious technology to every industry that it has stepped into. Taking the company’s iPod into consideration, it completely changed the perspective of the consumers on how a media player should be and raised expectations to a new level. The company was not the first one to introduce a media player but when it did, it made sure that it created a hype in the industry by coming up with technology that had never been used previously.",
        date: "1 june 2015",
        count: "343"
        }
        ];
        var cardYellow = [
        {
        src: "./images/content/building-img.jpg",
        title: "The number of protons",
        desc: "Apple Inc has decided to launch the much awaited Apple Watch in the upcoming month of April and has already received around five to six million orders for the product. Analysts have expected this product of the company to bring a positive change in the future revenue generation of the company. In the year 2014, when it became apparent that Apple (NASDAQ: AAPL) is in the midst of creating a smartwatch and will launch it in start of 2015, quite a few companies decided to create watches on their own to compete with the tech giant in the smart watch industry. Among the many companies who launched their customized versions of smart watches, Samsung Ltd (SSNLF) was the one of the prominent companies who was successful in producing a variety of smart watches within a very short period of time. Sony, Google and LG were other big companies who were also seen to have launched smart-watches taking advantage of the increasing interest of the consumers. According to a report released by Bidness ETC, Apple is expected to take full control of the smartwatch market on the release of its watch, in the same way that the company has excelled in the smartphone and laptop industry. According to the company’s history, the classic iPhone makers have never created the product that was not already in the market but it sure has introduced revolutionized and ingenious technology to every industry that it has stepped into. Taking the company’s iPod into consideration, it completely changed the perspective of the consumers on how a media player should be and raised expectations to a new level. The company was not the first one to introduce a media player but when it did, it made sure that it created a hype in the industry by coming up with technology that had never been used previously.",
        date: "1 june 2015",
        count: "343"
        }
        ];
        var cardLarge = [
        {
        src: "./images/content/beautiful-img.jpg",
        title: "Sport Stadium Birdview ",
        desc: "Apple Inc has decided to launch the much awaited Apple Watch in the upcoming month of April and has already received around five to six million orders for the product. Analysts have expected this product of the company to bring a positive change in the future revenue generation of the company. In the year 2014, when it became apparent that Apple (NASDAQ: AAPL) is in the midst of creating a smartwatch and will launch it in start of 2015, quite a few companies decided to create watches on their own to compete with the tech giant in the smart watch industry. Among the many companies who launched their customized versions of smart watches, Samsung Ltd (SSNLF) was the one of the prominent companies who was successful in producing a variety of smart watches within a very short period of time. Sony, Google and LG were other big companies who were also seen to have launched smart-watches taking advantage of the increasing interest of the consumers. According to a report released by Bidness ETC, Apple is expected to take full control of the smartwatch market on the release of its watch, in the same way that the company has excelled in the smartphone and laptop industry. According to the company’s history, the classic iPhone makers have never created the product that was not already in the market but it sure has introduced revolutionized and ingenious technology to every industry that it has stepped into. Taking the company’s iPod into consideration, it completely changed the perspective of the consumers on how a media player should be and raised expectations to a new level. The company was not the first one to introduce a media player but when it did, it made sure that it created a hype in the industry by coming up with technology that had never been used previously.",
        date: "1 june 2015",
        count: "343"
        }
        ];
    .page-home
        .page-home__container.container
            .page-home__header
                h1.page-home__title Blog
            .page-home__main
                .page-home__list
                    each item in cardOne
                        +cardsOne(item)
                    each item in cardTwo
                        +cardsTwo(item)
                    each item in cardBlack
                        +cardsBlack(item)
                    each item in cardYellow
                        +cardsYellow(item)
                    each item in cardLarge
                        +cardsLarge(item)



