header.header
    .header__container.container
        .header__nav-header
            .nav-header
                ul.nav-header__list
                    li.nav-header__item
                        a(href="#").nav-header__link home
                    li.nav-header__item
                        a(href="#").nav-header__link.active blog
                    li.nav-header__item
                        a(href="#").nav-header__link contacts
        .header__search-header
            .search-header
                .search-header__title search
                button(type="button").search-header__loop
                    i.search-header__icon
